/*forms*/
.forms form{

	display: block;
	margin-left: 10%;
	margin-right: 50%;
  padding: 0;
  border-style: none;


  background: transparent;
  text-decoration: none;

}

.forms3 form{

	display: block;
	margin-left: 5%;
	margin-right: 70%;

}

.tablaControl{
	margin-left: : 70px;
}

/*gridimagenes*/
.wrapper{
		overflow:hidden;
    width:720px;
		margin-left:15px;

}

.wrapper div{
		/* cualquier altura mayor que el total de sumar la anchura de las img */
    width:730px;

    /* para evitar el margen superior de la primera fila */
    margin-top:-100px;
}
 .wrapper img{
	 width:100px;
	 height:75px;
	 float:left;
	 margin:10px 10px 0 0;
}

/*Navegacion*/

#navegacion h2{
	text-transform: none;
	display: none;
}


/*banner2*/

	#banner2 {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		cursor: default;
		overflow: hidden;
		position: relative;
		text-align: left;;

	}

		#banner2 h2 { /*rapidez de la transicion banner*/
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			z-index: 1;
		}

		#banner2 h2:before, #banner2 h2:after { /*animacion banner*/
			-moz-transition: width 0.85s ease;
			-webkit-transition: width 0.85s ease;
			-ms-transition: width 0.85s ease;
			transition: width 0.85s ease;
			-moz-transition-delay: 0.25s;
			-webkit-transition-delay: 0.25s;
			-ms-transition-delay: 0.25s;
			transition-delay: 0.25s;
			background: #fff;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			width: 100%;
		}

		#banner2 h2:before {
			top: 0;
			left: 0;
		}

		#banner2 h2:after {
			bottom: 0;
			right: 0;
		}

	#banner2:after {	/*botones after controls*/
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		-moz-transition: opacity 3s ease-in-out;
		-webkit-transition: opacity 3s ease-in-out;
		-ms-transition: opacity 3s ease-in-out;
		transition: opacity 3s ease-in-out;
		-moz-transition-delay: 1.25s;
		-webkit-transition-delay: 1.25s;
		-ms-transition-delay: 1.25s;
		transition-delay: 1.25s;
		content: '';
		background: #2e3842;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}


			@media screen and (max-width: 736px) {



					#banner2 h2 {
						font-size: 1.25em;
					}



			}

		body.is-loading #banner2 h2 {
			-moz-transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
			opacity: 0;
		}

			body.is-loading #banner2 h2:before, body.is-loading #banner2 h2:after {
				width: 0;
			}

		body.is-loading #banner2:after {
			opacity: 1;
		}



.acercaDactilologico{
	 font-family: Arial, Helvetica, sans-serif;
	 color: #ffffff;
	 font-size: 18px;
	 font-weight: normal;
	 margin-left: 70px;
	 margin-right: 70px;
	 text-transform: none;
	 line-height: 24px;
	 text-align:justify;
	 padding: 18px;


}

.titulo{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 24px;
}

.video{
	display: block;
	margin: 0 auto;
}

/*------------------contenedores------------------------*/



/* Tiles */

	.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: -2.5em 0 0 -2.5em;

		/*posicion*/

		border-radius: 15px;
		position: absolute;
	  top: 70%;
	  left: 43%;
	  transform: translate(-50%, -50%);
		width: 80%;

	}

		.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;
			width: calc(33.33333% - 2.5em);
			margin: 2.5em 0 0 2.5em;
		}

			.tiles article  .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 100%;
				border-radius: 4px;
				overflow: hidden;
			}

				.tiles article  .image img {
					display: block;
					width: 100%;
				}

				.tiles article  .image:before {
					-moz-pointer-events: none;
					-webkit-pointer-events: none;
					-ms-pointer-events: none;
					pointer-events: none;
					-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
					-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
					-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
					transition: background-color 0.5s ease, opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1.0;
					z-index: 1;
					opacity: 0.8;
				}

				.tiles article  .image:after {
					-moz-pointer-events: none;
					-webkit-pointer-events: none;
					-ms-pointer-events: none;
					pointer-events: none;
					-moz-transition: opacity 0.5s ease;
					-webkit-transition: opacity 0.5s ease;
					-ms-transition: opacity 0.5s ease;
					transition: opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					opacity: 0.25;
					z-index: 2;
				}

			.tiles article  a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 1em;
				border-radius: 4px;
				border-bottom: 0;
				color: #000000;	/*color titulo contenedor*/
				text-align: center;
				text-decoration: none;
				z-index: 3;
			}

				.tiles article  a  :last-child {
					margin: 0;
				}

				.tiles article  a:hover {
					color: #FFFFFF !important;	/*color titulo contenedor hover*/
				}

				.tiles article  a h2 {
					margin: 0;
				}

				.tiles article  a .content {
					-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
					-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
					-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
					transition: max-height 0.5s ease, opacity 0.5s ease;
					width: 100%;
					max-height: 0;
					line-height: 1.5;
					margin-top: 0.35em;
					opacity: 0;
				}

					.tiles article  a .content  :last-child {
						margin-bottom: 0;
					}

			.tiles article.style1  .image:before {
				background-color: #9FF386;  /*color contenedor before*/
			}

			.tiles article.style2  .image:before {
				background-color: #7ecaf6;	/*color contenedor before*/
			}

			.tiles article.style3  .image:before {
				background-color: #7bd0c1;
			}

			.tiles article.style4  .image:before {
				background-color: #c75b9b;
			}

			.tiles article.style5  .image:before {
				background-color: #ae85ca;
			}

			.tiles article.style6  .image:before {
				background-color: #8499e7;
			}

			body:not(.is-touch) .tiles article:hover  .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

				body:not(.is-touch) .tiles article:hover  .image:before {
					background-color: #333333;
					opacity: 0.35;
				}

				body:not(.is-touch) .tiles article:hover  .image:after {
					opacity: 0;
				}

			body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
			}

		* + .tiles {
			margin-top: 2em;
		}

		body.is-loading .tiles article {
			-moz-transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 0;
		}

		body.is-touch .tiles article .content {
			max-height: 15em;
			opacity: 1;
		}

		@media screen and (max-width: 1280px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(33.33333% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

		}

		@media screen and (max-width: 980px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(50% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}

		}

		@media screen and (max-width: 736px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(50% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

					.tiles article:hover  .image {
						-moz-transform: scale(1.0);
						-webkit-transform: scale(1.0);
						-ms-transform: scale(1.0);
						transform: scale(1.0);
					}

		}

		@media screen and (max-width: 480px) {

			.tiles {
				margin: 0;
			}

				.tiles article {
					width: 100%;
					margin: 1.25em 0 0 0;
				}

		}
