<!DOCTYPE HTML>
<html>
	<head>

		<title>Diccionario Dactilológico</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="[% c.uri_for('/static/css/home.css') %]" />
		<link rel="stylesheet" href="[% c.uri_for('/static/css/dacto.css') %]" />

	</head>

	<body >
		<!-- Page Wrapper -->

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="[% c.uri_for('/') %]">Principal</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<ul>
												<li><a style="color:black" href="[% c.uri_for('/') %]">Home</a></li>
											</ul>
											<li><a href="[% c.uri_for('/lenguajeDactilologico') %]">¿Dactilológico?</a></li>
											<li><a href="[% c.uri_for('/diccionary') %]">Lenguaje Dactilológico</a></li>
											<li><a href="[% c.uri_for('/acercaDe') %]">Acerca De</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

		<!--contenido-->
		<section id="banner2">
				<h2 style="margin-top:10px">Diccionario de Señas</h2>

				<form>
					<input style="margin-left:15px;" type="button" value="volver atrás" name="volver atrás2" onclick="history.back()" />
				</form>
		</section>
			<h2 style="text-align: center;">Sistema de Traducción de Lenguaje Dactilológico<br>
				 a Lenguaje Escrito y Viceversa.</h2><br><br><br>
				 <p>Versión: 2016-12-10</p>
				 <p style="color:orange;">Desarrollo:crisantru@gmail.com</p>
				 <p style="color:orange;">Versión dedicada para Anayensi Moreno Sastré<br>
				 Maestra en Educación Especial Auditiva y Lenguaje</p>



		<!-- Footer -->
			<footer id="footer">
				<ul >
						<a href="http://www.facebook.com"><img class="feedback", style="height: 30px", src="[% c.uri_for('/static/images/facebook.ico') %]" />
						<a href="http://www.gmail.com"><img class="feedback", style="height: 30px", src="[% c.uri_for('/static/images/gmail.ico') %]" />
						<a href="http://www.rss.nom.es/"><img class="feedback", style="height: 30px", src="[% c.uri_for('/static/images/rss.png') %]" />
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Diseño: <a href="https://www.google.com/intl/es/mail/help/about.html">crisantru@gmail.com</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="[% c.uri_for('/static/css/assets/js/jquery.min.js') %]"></script>
			<script src="[% c.uri_for('/static/css/assets/js/jquery.scrollex.min.js') %]"></script>
			<script src="[% c.uri_for('/static/css/assets/js/jquery.scrolly.min.js') %]"></script>
			<script src="[% c.uri_for('/static/css/assets/js/skel.min.js') %]"></script>
			<script src="[% c.uri_for('/static/css/assets/js/util.js') %]"></script>
			<script src="[% c.uri_for('/static/css/assets/js/main.js') %]"></script>
	</body>
</html>
